body {
  margin: 0px;
  padding: 0px;
  background-color: white;
  font-family: "IBM Plex Sans", sans-serif;
}

nav {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
nav p {
  font-size: 1.5em;
  margin: 0px;
}
nav .icons button {
  border: none;
  background-color: white;
  margin-top: 10px;
  cursor: pointer;
}
nav .icons .wishlist path:hover {
  stroke: red;
}

article {
  width: auto;
  color: #6c8484;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  text-align: center;
  height: auto;
}
article .image-section img {
  width: 250px;
  height: auto;
}
article .intro-section {
  width: 80%;
}
article .intro-section h1 {
  color: black;
}
article .intro-section button {
  background-color: #d5a518;
  border-radius: 35px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: bold;
  border-style: none;
  width: 80%;
  margin: 30px 0px;
  padding: 20px;
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

section {
  width: 90%;
  height: auto;
  padding: 16px;
}
section .cards-toy-section, section .care-section .cards-care-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0px;
  row-gap: 50px;
  -moz-column-gap: 50PX;
       column-gap: 50PX;
  margin-bottom: 50px;
}
section .cards-toy-section .product-card, section .care-section .cards-care-section .product-card {
  width: 250px;
  height: auto;
  background-color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 1px solid #dad2c1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
section .cards-toy-section .product-card .product-fav-icon, section .care-section .cards-care-section .product-card .product-fav-icon {
  width: 90%;
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}
section .cards-toy-section .product-card .product-image, section .care-section .cards-care-section .product-card .product-image {
  width: 230px;
  height: 230px;
}
section .cards-toy-section .product-card .product-image img, section .care-section .cards-care-section .product-card .product-image img {
  width: 230px;
}
section .cards-toy-section .product-card .product-description, section .care-section .cards-care-section .product-card .product-description {
  padding: 10px;
  width: 80%;
  padding-left: 20px;
}
section .cards-toy-section .product-card .product-description p, section .care-section .cards-care-section .product-card .product-description p {
  color: #6c8484;
  font-size: 12px;
}
section .care-section {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  nav {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: auto;
    padding: 0px 50px;
  }
  nav .icons button {
    background-color: white;
  }
  nav .icons button svg {
    width: 26px;
    height: 26px;
  }
  article {
    flex-direction: row;
    width: 80%;
    justify-content: space-between;
    margin: auto;
  }
  article .intro-section {
    width: 50%;
    text-align: left;
  }
  section {
    padding: 40px;
  }
  section .cards-toy-section, section .care-section .cards-care-section {
    justify-content: flex-start;
  }
}
@media (min-width: 1280px) {
  article {
    justify-content: space-evenly;
    margin: 120px;
  }
}/*# sourceMappingURL=main.css.map */