$primary-color: #dad2c1;
$secondary-color: #d5a518;
$tertiary-color: #ad892a; 
$primary-text-color: #6c8484;
$background: white;
$heart-icon: red;
$font-stak: 'IBM Plex Sans', sans-serif;
$button-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);


body {
    margin: 0px;
    padding: 0px;
    background-color: $background;
    font-family: $font-stak;
}
nav {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
        font-size: 1.5em;
        margin: 0px;
    }
    .icons {
        button {
            border: none;
            background-color: $background;
            margin-top: 10px;
            cursor: pointer;
        }
        .wishlist {
            path:hover{
                stroke: $heart-icon;
            }
        }
    }
}
article {
    width: auto;
    color: $primary-text-color;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    height: auto;
    .image-section {
        img {
            width: 250px;
            height: auto; 
        }
    }
    .intro-section {
        width: 80%;
        h1 {
            color: black;
        }
        button {
            background-color: $secondary-color;
            border-radius: 35px;
            font-family: $font-stak;
            font-weight: bold;
            border-style: none;
            width: 80%;
            margin: 30px 0px;
            padding: 20px;
            cursor: pointer;
            box-shadow: $button-shadow
        }
    }
}
section {
    width: 90%;
    height: auto;
    padding: 16px;
    .cards-toy-section {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 0px;
        row-gap: 50px;
        column-gap: 50PX;
        margin-bottom: 50px;
        .product-card {
            width: 250px;
            height: auto;
            background-color: $background;
            box-shadow: $button-shadow;
            border-radius: 10px;
            border: 1px solid $primary-color;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;
            .product-fav-icon {
                width: 90%;
                margin-top: 10px;
                display: flex;
                justify-content: flex-end;
            }
            .product-image {
                width: 230px;
                height: 230px;
                img {
                    width: 230px;
                }
            }
            .product-description {
                padding: 10px;
                width: 80%;
                padding-left: 20px;
                p {
                    color: $primary-text-color;
                    font-size: 12px;
                }
            }
        }
    }
    .care-section {
        display: flex;
        flex-direction: column;
        .cards-care-section {
            @extend .cards-toy-section;
        }
    }
}

@media (min-width: 768px) {
    nav {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: auto;
        padding: 0px 50px;
        .icons {
            button {
                background-color: $background;
                svg {
                    width: 26px;
                    height: 26px;
                }
            }
        }
    }
    article {
        flex-direction: row;
        width: 80%;
        justify-content: space-between;
        margin: auto;
        .intro-section {
            width: 50%;
            text-align: left;
        }
    }
    section {
        padding: 40px;
        .cards-toy-section {
            justify-content: flex-start;
        }
    }
}
@media (min-width: 1280px) {
    article {
        justify-content: space-evenly;
        margin: 120px;
    }
}