$primary-color: #a19c91;
$secondary-color: #d5a518;
$tertiary-color: #ad892a; 
$primary-text-color: #6c8484;
$font-stak: 'IBM Plex Sans', sans-serif;

body {
    margin: 0;
    padding: 0;
    background-color: #a19c91;
}